.form-container {
  padding: 15px;
}

.submit-button {
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .form-container {
    padding: 10px;
  }

  .submit-button, mat-form-field {
    width: 100%;
  }
}
